body{
    background:url("img3.jpg") repeat 0 0;

}

header{
    background-color:rgb(240, 226, 240) ;
    height: 25vh;
    width: 100%;
    /* padding-top: 5vh; */
    position: fixed;
}

img {
    width: 19.3vh;
    height: 25vh;
    display: inline;
    float:left;
    z-index:10; 
    overflow: auto;  
    position: sticky;
    top: 0%;
    left: 2.5%;
    display: inline;
}
h1 {
    padding-top: 5vh;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    background-color:rgb(240, 226, 240) ;
    height: 15vh;
    width: 100%;
    padding-top: 5vh;
    position: fixed;
}


main{
    background:url(img3.jpg) repeat 0 0;
    /* background-color:  #D3B1C2;  */
    padding-top: 30vh;
   }


section{
    margin-bottom: 5vh;
    background-color: rgb(218, 189, 218);
    margin-left: 30vh;
    margin-right: 30vh;
}

 #sec1{
     display: inline-;
     text-align: center;
     margin-left: 30vh;
    margin-right: 30vh;
}

     
 
h2{
    font-size: 25px;
    padding: 2.5vh;
}
  
 ul ul{
    font-size: .9;
    color:black;
    display: inline-block;
    margin-left: 10vh;
    width: 85%;
    /* background-color:rgb(240, 226, 240); */
    /* width: 75%; */
}
  p {
    font-size: 20px;
    color:black;
    display: inline-block;
    margin-left: 2.5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 95%;
    /* background-color:rgb(240, 226, 240); */
    /* width: 75%; */
}




ol {
    list-style-type: decimal;
    margin-left: 5vh;
    margin-bottom:5vh;
   }
   ul ul li{
    list-style-type:square;
   }

    /* ul li{
    list-style-type: disc;
   } */
li {
    display: list-item;
    list-style-position: inside;
  } 
